.featured-product-continer-div{    
    width: 100%;
    height: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.featured-product-continer-div .featured-product-div{
    width: 83.33%;
    height: 100%;
    /* background-color: rgb(204, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-product-continer-div .featured-product-div .featured-inside-div{
    width: 90%;
    height: 84%;
    /* background-color: rgb(255, 255, 255); */
}
.featured-product-continer-div .featured-product-div .featured-inside-div .heading-div{
    width: 100%;
    height: 7%;font-weight: 700;
    font-size: 27px;

    background-color: black;
}
.featured-product-div .featured-inside-div .products-flex-container-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 100%;
    height: 93%;
    column-gap: 30px;
}

.featured-product-div .featured-inside-div .products-flex-container-div .flex-item{
    width: 33%;
    height: 100%;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.featured-inside-div .products-flex-container-div .flex-item .image{
    width: 100%;
    height: 62%;
    /* background-color: white; */
}
.featured-inside-div .products-flex-container-div .flex-item .image-1{
    background: url(../Drawables/Images/bc-product\(1\).jpg);
    background-size: cover;
}
.image-1 h5{
    color: blue;

}
.featured-inside-div .products-flex-container-div .flex-item .image-2{
    background: url(../Drawables/Images/2201103-amd-desktop-products.jpg);
    background-size: cover;
}
.featured-inside-div .products-flex-container-div .flex-item .image-3{
    background: url(../Drawables/Images/1913654-radeon-rx-7000-series-graphics-cards.jpg);
    background-size: cover;
}
/* .featured-inside-div .products-flex-container-div .processors h4{

} */
.featured-inside-div .products-flex-container-div .flex-item h4{
    width: 100%;
    height: 25px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    /* background-color: rgb(212, 212, 212); */
}
.featured-inside-div .products-flex-container-div .flex-item h5{
    width: 100%;
    height: 25px;
    font-size: 16px;
    font-weight:500;
    /* background-color: blue; */
}
.featured-inside-div .products-flex-container-div .flex-item .button-div{
    width: 38%;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(102, 255, 0); */
    margin-bottom: 30px;
}