.header-container-div{
    width: 100%;
    background-color: black;
    height: 85px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.header-flex-div{
    
    height: 33px;
    width: 96%;
    display:flex;
    align-items: center;
}
.header-logo img{
    width: 110px;
    padding-left: 26px;
}
.header-flex-div .left-section{
    background-color: black;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}
.shop{
    margin-right: 50px;
}
.middle-section{
    width: 50%;
    height: 100%;
}
.header-flex-div .right-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:13%;
    height: 100%;
}
.icon{
    height: 100%;
    width: 30px;
    background-color: azure;
}