@font-face {
    font-family: 'ITC Machine Std';
    src: url('MachineStd.eot');
    src: local('ITC Machine Std Medium'), local('MachineStd'),
        url('MachineStd.eot?#iefix') format('embedded-opentype'),
        url('MachineStd.woff2') format('woff2'),
        url('MachineStd.woff') format('woff'),
        url('MachineStd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Machine Std';
    src: url('MachineStd-Bold.eot');
    src: local('ITC Machine Std Bold'), local('MachineStd-Bold'),
        url('MachineStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('MachineStd-Bold.woff2') format('woff2'),
        url('MachineStd-Bold.woff') format('woff'),
        url('MachineStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

